
<div class="modal fade" id="DeleteModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-black">Delete Departent</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger error-msg hide"></div>
                <div id="delete-modal-msg"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-confirm-delete">Confirm Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>