<div class="row">
    <div id="entry-modal" class="modal modal-fixed">
        <div class="modal-dialog">
            <div class="modal-content panel-primary">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title panel-title entry-header text-bold">Title</h4>
                </div>
                <div class="alert alert-danger error-message no-margin" style="display:none;"></div>
                <div class="alert alert-success success-message no-margin" style="display:none;"></div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>