@{
    ViewBag.Title = "माग फारामको विबरण";
}

<div class="col-md-12">
    <div class="box box-info">
        <div class="box-body">
            <form class="form-inline frm-search">
                <div class="form-group">
                    <label for="DisplayDocumentNo">माग फाराम नं.</label> <br />
                    <input type="text" id="DisplayRequestNo" name="DisplayRequestNo" class="form-control focus-first" placeholder="माग फाराम नं...." />
                </div>
                <div class="form-group">
                    <label for="MitiFrom">माग मिति देखि</label> <br />
                    @Html.TextBox("DateFromBS", null, new { @class = "form-control mask-miti", @placeholder = "माग मिति देखि..." })
                </div>
                <div class="form-group">
                    <label for="MitiTo">सम्म</label> <br />
                    @Html.TextBox("DateToBS", null, new { @class = "form-control mask-miti", @placeholder = "सम्म..." })
                </div>
                <div class="form-group" style="margin-top:30px;">
                    <button type="button" class="btn btn-info btnRefresh" data-resultElement=".detail" data-url="@Url.Action("itemrequestdetail","imsentry")"><span class="fa fa-search"></span></button>
                </div>
            </form>
            <div class="clearfix"></div>
            <div class="detail-itemRequest detail vh65 slim-scroll lazy-loading" data-url="@Url.Action("itemrequestdetail", "imsentry")">
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        collapseSidebar();
        $(".btnRefresh").refreshData({ showLoader: 'true' });
    </script>
}


